html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    display: table;
}

#contents {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color:#aaaaff;
    -webkit-tap-highlight-color: transparent;
}
#contents1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color:#b83b63;
    -webkit-tap-highlight-color: transparent;
}

#content_text {
    font-weight: bold;
    font-size: 25em;
    color: #ffffff;
}
#content_text1 {
    font-weight: bold;
    font-size: 150em;
    color: #ffffff;
}
#content_text2 {
    font-weight: bold;
    font-size: 15em;
    color: #ffffff;
}
